body{
    background: radial-gradient(rgb(0, 183, 255),rgb(0, 132, 255),rgb(0, 47, 255));
}
.container {
  text-align: center;
  margin: 11%;
}
table {
  margin: auto;
}
input {
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
}
button {
  color: white;
  background-color: rgb(148, 148, 168);
  height: 45px;
  width: 85px;
  font-size: 20px;
  margin: 4px;
  border-radius: 10px;
}
.calculator {
  display: inline-block;
  padding: 2vh 1vw;
  background-color: black;
  border-radius: 20px;
  box-shadow: rgb(126, 125, 125) 0px 0px 20px 4px;
}
